In [4]:
import pandas as pd

# Load the two datasets into Pandas DataFrames
file_path = r'C:\Users\atifi\OneDrive\Desktop\Farmer.csv'
df1 = pd.read_csv(file_path)

file_path = r'C:\Users\atifi\OneDrive\Desktop\Soil.csv'
df2 = pd.read_csv(file_path)

In [6]:
print(df1.head())

              Name  Aadhar ID
0      Oslo.Gellar       9134
1       Adam Smith       5624
2   Raghuram Rajan       1876
3  Friedman-Milton       5491
4        Karl MARX       3189

In [7]:
print(df2.head())

              Name  Aadhar ID        Soil
0   Raghuram Rajan       1876         Dry
1        Karl Marx       3189     Igneous
2      Oslo Geller       9134  Dry Barren
3  Milton Friedmon       5491     Igneous
4       Adam Smith       5624         Dry

In [9]:
# Data Cleaning: Standardize Aadhar IDs
df1['Aadhar ID'] = df1['Aadhar ID'].astype(str).str.replace('\.0', '', regex=True)
df2['Aadhar ID'] = df2['Aadhar ID'].astype(str).str.replace('\.0', '', regex=True)

In [11]:
# Merge datasets based on Aadhar IDs
merged_df = pd.merge(df1, df2, on='Aadhar ID', how='inner')

In [12]:
print(merged_df.head())

            Name_x Aadhar ID           Name_y        Soil
0      Oslo.Gellar      9134      Oslo Geller  Dry Barren
1       Adam Smith      5624       Adam Smith         Dry
2   Raghuram Rajan      1876   Raghuram Rajan         Dry
3  Friedman-Milton      5491  Milton Friedmon     Igneous
4        Karl MARX      3189        Karl Marx     Igneous

In [13]:
# Save the combined dataset to a new CSV file
merged_df.to_csv(r'C:\Users\atifi\OneDrive\Desktop\combined_dataset.csv', index=False)